export const API_CONFIG = {
  APP_SECRET: 'strong-token-here',
  ALLOWED_USERS: {
    "user@example.com": { roles: [""] }
  },
  BEARER_TOKEN:
    "strong-bearer-here",
  GOOGLE_AUTH: {
    CLIENT_ID: "",
    CLIENT_SECRET: "",
    REDIRECT_URL: "http://localhost:3000/auth/google/callback",
  }
}