{
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
